# Node JS
node_modules/

result
.pi/

# Nixos flakes
.devenv/
.direnv/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Binary files (do not read or execute)
.devenv/*.db
.devenv/*.db-shm
.devenv/*.db-wal
.devenv/state/*.db
.devenv/state/*.db-shm
.devenv/state/*.db-wal
.devenv/load-exports
squashfs-root/

# The results of querying our fastfetch will be placed in a file for
# examinatio by pi harness.
/hardware.json
